[2017-07-07 05:23] chuanhiang opened #1 "Image Uploading Interface Feedback List"
- [x] The columns should autosize to cover the entire image width based on the number of columns required

- [x] Change the label Floor to Rows

- [x] Change the label Unit/Floor to Columns

- [x] Change the instruction "Input how many floor and unit/floor" to "Enter grid specifications"

- [x] We have to provide landscape and portrait orientation function

- [x] Provide space between the buttons

[2017-07-07 05:29] chuanhiang opened #2 "Separate the uploading step from the image editing step"
@purnomoeko

We should have the uploading of the image function as one step before seeing this interface. This means before the editing interface there is a uploading option to choose or work on save image option if they have previously saved image

[2017-07-07 05:33] chuanhiang opened #3 "Text format and colour of the cell number"
@purnomoeko

- [ ] Change the cell numbering to R1C1, R2C1 and so on

- [x] Change the text colour to white when it is a black background; OR

- [x] Ask them to upload only the outline of the silhouette

We might want to ask them to produce only the outline of the building silhouette. Please let me know if this is a preferred option.

[2017-07-12 11:07] chuanhiang opened #4 "Admin module - cannot reset password"
![image](https://user-images.githubusercontent.com/9443519/28114878-debe5bda-672c-11e7-9777-fd433c36c335.png)

[2017-07-12 11:08] #4 closed

[2017-07-17 07:00] benjaminl83 opened #5 "Opportunity - Auto close opp 45 days after creation"
When Opportunity is created closed date 45 days after Created date for Standard Opportunity Record Type Only

[2017-07-17 07:08] benjaminl83 opened #6 "Task - Auto generate Event(Tour) when Task is created"
"Create Event based on the Task
Event(Tour__c) Subject: Appointment for full Tour
Source: blank
Visit type = Site Visit
Visit status = Planned
Asssigned To = Asssigned To (Task)
Start = Appointment Time (Task from Sl.No 3)
Location = Location (Task)
Related Opportunity = Related To (WhatId Task)"

Appointment Time :DateTime Field on Task

[2017-07-17 07:25] benjaminl83 opened #7 "Task - Create alert to Assigned To"
When task is created, send an email alert to "Assigned To"

[2017-07-17 07:35] benjaminl83 opened #8 "Project Notification - Dynamically insert attachment from Project and Product"
Dynamic Attachment from Notes and Attachment when Project Field Notification updated (Sl.No. 5,6,7,8)

[2017-07-17 07:44] benjaminl83 opened #9 "Project Notification - Naming convention"
"Email Templates (Naming Convention : 'Project Notification' +space+ Project Notification field  Value: Project Notification Thank You and
Project Notification Brochure"

Attachment Uploaded Related to Project(The River) Naming convention (Project Notification Field Value+space+ Project Name Field Value): Thank You The River.jpg and Brochure The River .pdf

[2017-07-17 07:45] benjaminl83 opened #10 "Opportunity - Validations governing new opportunity creation"
"If the Opportunity Stage is Blank or one of the following Opportunity Stage is true, it means then can create Opportunity for the  same project Closed-lost, Signed
If the Opportnity Stage is one of the following Opportunity Stages with the same project name, the system will not allow creation of another opportuntiy Not Contacted, Contacted, TM Activie, Qualified,  Quote(s) issued, Under Negotiati

[2017-07-17 07:46] benjaminl83 opened #11 "Event - Only 1 Event can have status "Planned" for any Opportunity"
No 2 Events with Planned Status for the Single Opportunity

[2017-07-20 01:36] benjaminl83 opened #12 "Opportunity - Recreate the Booking form, allow for field merging and triggered from button"
Allow SF to generate the following form in Thai and English.
Blank fields will merge with data found on SF where available.
This form is generated through a click from opportunity (No status requirement yet)

[2017-07-23 04:33] Ponpimonk opened #13 "Drag and drop function does not work"
When I drag a product and drop it off to the sales matrix, the sales matrix page turns into the product page instead. The product should be automatically mapped instead to the matrix

[2017-07-24 09:35] benjaminl83 opened #14 "Error messaging - Implement customizable error messages"
Right now, the system blocks the creation of a duplicate Event with "Planned" status.
It shows up as an error like such.
![image](https://user-images.githubusercontent.com/18274902/28517259-67446c7a-7096-11e7-846d-ea4296c6aec2.png)

It needs to display the error like in Wakatobi

[2017-07-25 06:37] chuanhiang opened #15 "Cell cursor is showing both cell when only highlighting one"
![image](https://user-images.githubusercontent.com/9443519/28558936-cd1bd4d8-7146-11e7-85a0-6d05ed54f7bd.png)

[2017-07-25 06:50] chuanhiang commented on #15
![image](https://user-images.githubusercontent.com/9443519/28559293-862bfed4-7148-11e7-8149-e26af050dccf.png)

@purnomoeko
Just another way this bug is showing up.

Thanks.

[2017-07-25 06:57] chuanhiang commented on #15
![image](https://user-images.githubusercontent.com/9443519/28559466-43905c9a-7149-11e7-9fb7-46fdd45aa94b.png)

@purnomoeko
The lines at the end are truncated and the cell attributes are not showing. I think it is because the cell is too long. We have allow the cell attributes to show even if the width is too long.

Thanks.

[2017-07-25 09:18] chuanhiang opened #16 "Create a function to hide the cell attributes dialogue box"
This can help to clear workspace to see more when doing reporting

[2017-07-25 09:24] chuanhiang opened #17 "Allow unlinked cells to be coloured"
If the cell is linked the colour code from statuses will override the cell background colour

[2017-07-25 13:05] chuanhiang opened #18 "need to prevent the Cell Attributes and Product info dialogue box from disappearing"
@purnomoeko

Sometimes user can drag the dialogue boxes off the screen and has no way to retrieve them. Need to prevent this from happening.

Thanks.

[2017-07-27 05:15] VeenaKurady opened #19 "Opportunity Stage After 45 days Closed Lost(Sales) if it is with in Under Negotiation"
Opportunity Stage After 45 days Closed Lost(Sales) if it is with in Under Negotiation

[2017-07-27 05:16] VeenaKurady opened #20 "Change the Thank You Email Template as per the Email"
Change the Thank You Email Template as per the Email

[2017-07-27 05:17] VeenaKurady opened #21 "Add Notification to Opportunity add the logic and Remove the Logic on Project"
Add Notification to Opportunity add the logic and Remove the Logic on Project

[2017-07-28 06:20] benjaminl83 commented on #12
@chuanhiang @Ponpimonk
Right now we can generate the booking form from Salesforce as a pdf
You can access from here
![image](https://user-images.githubusercontent.com/18274902/28704902-c4fe8ace-739f-11e7-8a1f-3eb90ab2088e.png)

Now I need to know which field maps to which part of the form

[2017-07-28 06:26] benjaminl83 commented on #12
@VeenaKurady
Not within scope. Sorry

[2017-07-28 06:26] #12 closed

[2017-07-28 07:09] benjaminl83 opened #22 "Reservation Queue - Create new object"
Create a object called "Reservation Queue"
Product (Master) - Reservation queue (Child)

To contain the following fields:
- Contact (Link to Contact)
- Reservation status (Valid, Reserving, Invalid)
- Queue start date time
- Queue end date time

[2017-07-28 07:16] benjaminl83 opened #23 "Product - Implement validation ( Maximum 1 reserving and 4 valid Reservation Queue)"
1 Product can only have - 1 Reserving and 4 Valid Reservation Queue records

[2017-07-28 07:18] benjaminl83 opened #24 "Reservation Queue (RQ) - Update RQ status from "Reserving" to "Invalid" after 48hrs"
1 Reservation Queue at "Reserving" status will turn into "Invalid" after 48 hours
Use time-based workflow

[2017-07-28 07:24] benjaminl83 opened #25 "Product - Invalidate ALL Reservation Queues when product is Booked, Sold, Not available"
Invalidate ALL Reservation Queues under that product if the Product.Sales Status = Booked, Sold, Not available

[2017-07-28 10:00] benjaminl83 opened #26 "Event/Tour - creation logic if "Full Tour" already exist"
If there is an existing Event/Tour with visit Status "Full Tour", next Event/Tour created will be created as "Planned".
Once completed, it should update to "Re-visit"
If user try to save as "Full tour", prompt an error

![image](https://user-images.githubusercontent.com/18274902/28712663-95dba10e-73be-11e7-8470-be49de3ab49c.png)

[2017-07-28 10:22] benjaminl83 commented on #22
Function dropped by Raimon land

[2017-07-28 10:22] #22 closed

[2017-07-28 10:23] benjaminl83 commented on #23
Function dropped by Raimon land

[2017-07-28 10:23] #23 closed

[2017-07-28 10:23] benjaminl83 commented on #24
Function dropped by Raimon land

[2017-07-28 10:23] #24 closed

[2017-07-28 10:23] benjaminl83 commented on #25
Function dropped by Raimon land

[2017-07-28 10:23] #25 closed

[2017-08-15 10:35] Ponpimonk opened #27 "Property Management Not Working in the Home Page"
@purnomoeko @benjaminl83 Please refer to this link the property management on the menu is not working

https://raimon-land-sales-matrix.firebaseapp.com/building
![image](https://user-images.githubusercontent.com/18274902/29312723-44f55b70-81e9-11e7-8a69-c4367fcc8f7b.png)

[2017-08-15 10:55] benjaminl83 commented on #27
@Ponpimonk
Can you try to clear browser cache and see if it will work?
To clear cache:
1. Go to Chrome History (Ctrl H)
![image](https://user-images.githubusercontent.com/18274902/29313146-fdb8a15c-81ea-11e7-9327-96871dd2f24e.png)

Click "Clear browsing Data", Select "Cached images and files"
![image](https://user-images.githubusercontent.com/18274902/29313192-3ef5a8f4-81eb-11e7-97e9-f0e917979ce0.

[2017-08-16 04:17] VeenaKurady opened #28 "Opprotunity check duplicate project-account-product"
Check Duplicate Project-Account-Product for the Oppturnity Before Insert Update
- Issue raised by Eko

[2017-08-16 04:20] VeenaKurady opened #29 "Update Product Trigger to push data to external site"
After Update Product, trigger to push data to external site
https://us-central1-raimon-land-sales-matrix.cloudfunctions.net/salesforce/update-product
- Assigned by Eko

[2017-08-16 04:21] VeenaKurady opened #30 "Insert/Update EventTour Trigger to push data to external site"
After Insert/Update EvenTour Trigger, to push data to external site
https://us-central1-raimon-land-sales-matrix.cloudfunctions.net/webhook/update-product
-Assigned by Eko

[2017-08-16 04:22] VeenaKurady commented on #29
https://us-central1-raimon-land-sales-matrix.cloudfunctions.net/webhook/update-product

[2017-08-16 05:58] VeenaKurady commented on #28
*Applies only to Not Contacted, Contacted, TM Active, Qualified, Quotes issued, Under Negotiation Opportunity Stage

[2017-08-16 10:26] Ponpimonk opened #31 "Unable to pull out the sizing bar once it gets thrown out from the frame"
@benjaminl83 @purnomoeko Can you make sure we can pull out the cell adjustment bar eventhough it's been thrown out of the matrix frame? It's very difficult to continue if this is not fixed.
![image](https://user-images.githubusercontent.com/30112738/29359202-df5fb890-82a7-11e7-969f-f32a62e9b3c1.png)

https://raimon-land-sales-matrix.firebaseapp.com/building/new

[2017-08-16 10:55] Wichudadej opened #32 "Error notification"
We are on testing fill in the account information in ipad. While we search an email for "panatp@yahoo.com" this email is existing in sandbox but the error shows that "Not found, Email can't be found. Please create new account". So please kindly check and let us know. Thank you.

[2017-08-16 11:12] Wichudadej opened #33 "New Prospect Page Error"
We found the error from testing the new prospect page as per list below:

1. Email does not exists in sandbox but the system shows the notification that "An Error occured "FIELD_CUSTOM_VALIDATION_EXCEPTION - This Account is duplicated. - Account".
![image](https://user-images.githubusercontent.com/30311578/29360907-450db884-82af-11e7-8709-01b5a249b4be.png)

2.  Email exists in sandbox but the syst

[2017-08-16 11:32] Wichudadej opened #34 "Save mode - Sales Matrix Firebase App."
When we finished to draw the new building layout, we can click save button but the building is not in the list.

[2017-08-16 11:57] chuanhiang commented on #34
@Wichudadej

This version has a limit of 10 building. Please wait for the next version to be released.

Thanks.

[2017-08-16 13:39] benjaminl83 opened #35 "Building Layout - Need a "Publish" option to indicate if a layout is published"
Once published, Management will be able to view
Mobile app will be able to view

[2017-08-17 03:10] Wichudadej commented on #34
@chuanhiang

Thank you for your clarification.

Best regards,

[2017-08-17 04:51] chuanhiang opened #36 "Publish Function for Projects and Building"
@purnomoeko

We need to implement this missing function of publishing the building under the project in web app based on the following logic:

Field Label = Publish
1. Web app
2. Mobile app
3. Both

Thanks.

[2017-08-17 04:58] chuanhiang opened #37 "Delete Building Function"
@purnomoeko

We need to implement the delete building function in the web app. This button should be shown in the building listing page as part of the action buttons on the right.

Thanks.

[2017-08-17 08:52] benjaminl83 commented on #32
@purnomoeko
Please let us know which version is this resolved.

[2017-08-17 08:53] benjaminl83 commented on #33
@purnomoeko
Let us know which version is this resolved

[2017-08-17 10:32] purnomoeko commented on #33
@chuanhiang  @benjaminl83  @VeenaKurady This issue has come when the first name and last name exist in database (even though different email address). And this logic is exist in salesforce trigger, do we need that logic here?

[2017-08-17 11:25] chuanhiang opened #38 "Building List page need another column called "Publish Status""
@purnomoeko
![image](https://user-images.githubusercontent.com/9443519/29410075-a7994d92-8381-11e7-8b2e-05bdc48099c3.png)

https://raimon-land-sales-matrix.firebaseapp.com/building

Please add the Publish Status column just after to the total room column.
Publish status should be a checkbox field

Thanks.

[2017-08-17 11:58] chuanhiang opened #39 "Only Active Project should be shown in the search result when creating new building"
@purnomoeko
![image](https://user-images.githubusercontent.com/9443519/29411200-5c8de2b8-8386-11e7-8b95-3030a25ca0e1.png)

When the project is inactivated all the buildings belonging to the project will not be shown in the web app and the mobile app.

Thanks.

[2017-08-18 02:30] benjaminl83 commented on #34
@Wichudadej
Now user can save beyond the previous limit of 10

[2017-08-18 02:37] benjaminl83 commented on #32
Please try this on ver 0.4.0

[2017-08-18 03:02] Wichudadej commented on #34
Save mode for beyond the limit 10 buildings work fine. Thank you.
![image](https://user-images.githubusercontent.com/30311578/29442523-45e8e316-83fc-11e7-8b6d-8d4a6d250110.png)

[2017-08-18 03:23] Wichudadej opened #40 "Cannot access to the app. in iPad."
Now I cannot access to the app. in iPad.  When I click on The Lofts Asoke project, the system refresh the page and redirect to home. Please help.

[2017-08-18 03:53] benjaminl83 commented on #40
@Wichudadej
Can you try with this credentials
See if its a credentials problem

Login name: test2@interaktiv.sg
password: 12345678

[2017-08-18 04:44] benjaminl83 opened #41 "User Management - Only accessible to Admins"
management profile can only use "Profile page" to change own details

[2017-08-18 05:01] chuanhiang opened #42 "User Management - Mobile Sales user cannot see projects in mobile app"
@fransjosua @purnomoeko

User created in web app admin can login to the mobile app but cannot see projects.

Thanks.

[2017-08-18 06:21] benjaminl83 opened #43 "Security Error - Inactivating a user should have immediate effect once navigating to another page"
Once user is inactivated, when user navigate to another page, it should throw the user out

[2017-08-18 06:28] chuanhiang opened #44 "Missing Logic User cannot be allowed to edit the building when the building is published"
User cannot be allowed to edit the building when the Publish Status checkbox is true.

Thanks.

[2017-08-18 06:37] chuanhiang opened #45 "Undo function in building configuration does not work properly"
Undo function when clicked undo all the steps to the beginning.

Thanks.

[2017-08-18 06:41] chuanhiang opened #46 "Error - System allow the same unit to be linked multiple times"
System should not show any unit in the search function when linking products in salesforce to cells.

Thanks.

[2017-08-19 06:18] chuanhiang opened #47 "Colour Coding is not consistent with mobile app for holding"
Colour Coding in Web app must be consistent with mobile app. The Unit Name in the cell should be red in web app when the Active checkbox is NOT checked.

[2017-08-19 06:23] chuanhiang opened #48 "Cell Error - This cell cannot be selected to show linked information"
Please try to select the cell LA-1201 to unlink or show the cell information.

![image](https://user-images.githubusercontent.com/9443519/29484073-a8629bfc-84e9-11e7-8665-e325fecbb315.png)

This issue is not affecting the mobile app.

Thanks.

[2017-08-19 14:02] purnomoeko commented on #31
in latest version right clicking the cell will bring the cell attribute near to the cell.

[2017-08-21 07:35] Ponpimonk opened #49 "Publish This Building --> Cannot click cancel"
@benjaminl83 @purnomoeko Unable to click cancel for Publish this building
![image](https://user-images.githubusercontent.com/30112738/29508262-0c18f1b0-867e-11e7-8d30-e05966910554.png)

[2017-08-21 08:08] purnomoeko commented on #49
@benjaminl83 just deployed please check

[2017-08-21 08:09] Ponpimonk commented on #49
@benjaminl83 @purnomoeko Ok it is working now

[2017-08-21 08:09] #49 closed

[2017-08-21 08:12] #40 closed

[2017-08-21 08:13] #34 closed

[2017-08-21 08:14] #32 closed

[2017-08-21 10:05] Ponpimonk opened #50 "Add 2 columns in User List showing "Access Type""
@benjaminl83 @purnomoeko Add 2 columns in User List showing "Access Type"

https://raimon-land-sales-matrix.firebaseapp.com/user

<img width="701" alt="capture" src="https://user-images.githubusercontent.com/30112738/29514478-f3550ea6-8692-11e7-8bea-fffb383bf519.PNG">

[2017-08-21 10:13] Ponpimonk opened #51 "Unable to add a new user to Firebase"
@benjaminl83 @purnomoeko Unable to add a new user to Firebase

https://raimon-land-sales-matrix.firebaseapp.com/user/new

![image](https://user-images.githubusercontent.com/30112738/29514777-ee195b80-8693-11e7-9e37-d5a1fa44bb2a.png)

[2017-08-21 10:13] Wichudadej opened #52 "Blocked period"
While I am testing the log in web app. I tried to log in many times with incorrect password and the system shows me an error so how long it takes for this blocked ?

![image](https://user-images.githubusercontent.com/30311578/29514743-d0fc20d2-8693-11e7-9983-d53236f65da7.png)

[2017-08-21 10:15] benjaminl83 commented on #51
@fransjosua
The user probably got created but does not appear on the user list.
I tried creating wichuda1@raimonland.com, it got saved, but didn't appear on the list.

[2017-08-21 10:46] Ponpimonk opened #53 "How come Width is located at the bottom?"
@benjaminl83 @purnomoeko  How come Width is located at the bottom?

https://raimon-land-sales-matrix.firebaseapp.com/building/edit/-Kro1z3apqp31tZNnPCJ

![image](https://user-images.githubusercontent.com/30112738/29515903-825024c4-8698-11e7-8f3e-47c2a933927a.png)

[2017-08-21 10:58] benjaminl83 opened #54 "New building layout - Block creation of building with blank project name"
@purnomoeko
When building has no project name, the layout does not load
We should validate that building name is mandatory when creating new building layout

[2017-08-21 11:21] benjaminl83 opened #55 "Publishing - Unpublished, Mobile, Webapp, Both should prompt error when no change is actually made"

[2017-08-21 11:23] purnomoeko commented on #53
@ponpimonk it's sorted alphabetically we can change the order if you want

[2017-08-21 11:24] purnomoeko commented on #52
Usually it will take about 15 minutes before trying another login..

[2017-08-21 11:25] purnomoeko commented on #51
Wichuda@raimonland has been registered in the backend but not showing here. We should update this list @fransjosua.

[2017-08-21 14:31] chuanhiang commented on #38
Done.
![image](https://user-images.githubusercontent.com/9443519/29523689-096c16c4-86b8-11e7-8c4e-a39683fd7d4e.png)

[2017-08-21 14:31] #38 closed

[2017-08-21 14:41] benjaminl83 commented on #55
As requested by Chuan

[2017-08-21 14:47] chuanhiang commented on #55
@purnomoeko

The system doesn't show any error message when the word entered doesn't match. We should show the error messages accordingly.

1. If the word entered is mispelled the error message should say, "The word entered is not spelt correctly and it is also case sensitive. Please try again."
2. If the word is spelt correctly we must match the case (case sensitive) if only the case is not match

[2017-08-21 14:47] benjaminl83 commented on #20
Thank you email generated
![image](https://user-images.githubusercontent.com/18274902/29524538-ab239b5e-86c2-11e7-8650-dc92fc7cc6cc.png)

[2017-08-21 14:49] chuanhiang commented on #36
Tested and working but please refer to issue #55 for follow-up issue.

[2017-08-21 14:49] #36 closed

[2017-08-21 15:03] chuanhiang commented on #48
Tested and good to go.

[2017-08-21 15:03] #48 closed

[2017-08-21 15:24] benjaminl83 opened #56 "Notification Emails - Keep activity history"
@VeenaKurady
Keep a history of the sent email in the system instead of scheduling open task

[2017-08-21 15:31] benjaminl83 opened #57 "Brochure Email - Merge fields from Salesforce records"
@VeenaKurady
Refer to the screenshot
![image](https://user-images.githubusercontent.com/18274902/29526404-35eb5e7a-86c8-11e7-88a5-88a4c73483c5.png)

The Lofts Silom should come from the Opportunity Project name
The signature should show:
- Opportunity owner name
- Opportunity owner Role
- Opportunity owner department
- Opportunity owner Phone number
- Opportunity owner Fax number
- Opportunity own

[2017-08-21 15:33] chuanhiang opened #58 "Building Layout Interface - Change the warning message for published building when user wants to edit to red"
Please change the edit text to red and add the **Building Name** on top of the cancel and configure buttons.

Please change the text to read: "Changes cannot be saved since this building is in "Published" status. To edit please unpublish it first."

![image](https://user-images.githubusercontent.com/9443519/29526720-c1809a16-86c0-11e7-84f7-7f52ca6f14f2.png)

[2017-08-21 15:54] benjaminl83 opened #59 "Opportunity - Change product to available when Opportunity is unhold"
@VeenaKurady
When user unchecks Opportunity Hold, convert the product from Inactive to Active

[2017-08-21 16:30] chuanhiang commented on #56
@VeenaKurady

Please create a record under Activity History.

Thanks.

[2017-08-21 16:31] chuanhiang commented on #20
Ben, I just

[2017-08-21 16:36] chuanhiang commented on #20
@benjaminl83 @VeenaKurady
I've justed save and send an email for this opportunity https://rl--full.cs31.my.salesforce.com/006p0000004leT0?srPos=1&srKp=006

The activity history has it but the email was not received in my mailbox.

Thanks.

[2017-08-21 16:37] chuanhiang commented on #31
@Ponpimonk

Please close this issue if you have tested it.

Thanks.

[2017-08-21 16:39] chuanhiang commented on #44
Tested and can close but please refer to #58

[2017-08-21 16:39] #44 closed

[2017-08-21 16:55] chuanhiang opened #60 "Auto-logout after 30 minutes without activity"
Please make sure we show a message. "You've been logged out due to inactivity. Please log in again"

[2017-08-22 00:51] benjaminl83 opened #61 "Opportunity - When updating Notification to "Both" only thank you email is sent out"
@VeenaKurady
Both Thank you email and Brochures must be sent out.
And the brochure email must have the attached Brochure and Factsheet pdfs.

I only received this
![image](https://user-images.githubusercontent.com/18274902/29543861-d84c11fc-8716-11e7-9331-4de2cc84893c.png)

[2017-08-22 01:19] purnomoeko commented on #45
@chuanhiang can you demo it? I can do it perfectly from here.

[2017-08-22 02:48] Wichudadej commented on #52
Noted and thank you for your information.

[2017-08-22 02:48] #52 closed

[2017-08-22 03:00] Ponpimonk opened #62 "Should be able to retain the grid while changing the background image"
Should be able to retain the grid while changing the background image

![image](https://user-images.githubusercontent.com/30112738/29546816-aff78a24-8720-11e7-9843-1b5c532b91b1.png)

[2017-08-22 03:02] benjaminl83 opened #63 "Cells - Cell text to be in Red/blue color instead of cell border for "Thai/Foreigner" quota"

[2017-08-22 03:09] Ponpimonk opened #64 "Undo last change skips the step some times"
@benjaminl83 @purnomoeko  Undo last change skips the step some times

[2017-08-22 03:10] purnomoeko commented on #17
@chuanhiang I think this feature should be dropped otherwise it will cause a lot of problem in current color coding.

[2017-08-22 03:17] Ponpimonk opened #65 "Label should not be overlapping when linking the unit to SF"
Label should not be overlapping when linking the unit to SF

![image](https://user-images.githubusercontent.com/30112738/29547232-08eb569a-8723-11e7-92c2-c30ec9d9d715.png)

[2017-08-22 03:21] Ponpimonk commented on #65
The cell once expend the letters will not overlapped.

[2017-08-22 03:21] #65 closed

[2017-08-22 03:27] Ponpimonk opened #66 "User Management - Unable to cilck USER without refreshing the page"
Unable to cilck USER without refreshing the page

[2017-08-22 03:27] benjaminl83 commented on #64
@purnomoeko
We tried to delete 3 cells
![image](https://user-images.githubusercontent.com/18274902/29547385-473ad6a6-872c-11e7-9a09-edd890cc5076.png)

Then resize a cell
![image](https://user-images.githubusercontent.com/18274902/29547415-63714c9c-872c-11e7-88bd-1f30abf3f0ce.png)

Then moved it to a different place
![image](https://user-images.githubusercontent.com/18274902/29547426-75da381c-872c-

[2017-08-22 03:37] Ponpimonk opened #67 "Publish layout - When set to mobile, user can still view the webapp."
@benjaminl83 @purnomoeko When set to mobile, user can still view the webapp.

[2017-08-22 03:41] benjaminl83 commented on #67
@purnomoeko
management user should not be able to access property management page for that matter
So when management user building query page, they should not be able to see this building to make a query

[2017-08-22 03:43] Ponpimonk opened #68 "User Management - Non-Admin user should not see the user management at all"
Non-Admin user should not see the user management at all

![image](https://user-images.githubusercontent.com/30112738/29547824-ac1a3b08-8726-11e7-8b83-7e2055c53bb0.png)

[2017-08-22 03:51] Ponpimonk opened #69 "Publish Layout - Management should only see "Web" and "Both" and not "Unpublished""
Management should only see "Web" and "Both" and not "Unpublished"

![image](https://user-images.githubusercontent.com/30112738/29548011-e16a1ef8-8727-11e7-9fa1-2072272dd117.png)

[2017-08-22 03:54] benjaminl83 commented on #69
@fransjosua
Issue will be resolved with https://github.com/Interaktivtechnology/Raimon-Web/issues/68

[2017-08-22 04:01] benjaminl83 commented on #1
@chuanhiang
The following is not fulfilled yet. Please advise if they are still relevant
- [ ] The columns should autosize to cover the entire image width based on the number of columns required
- [ ] Change the instruction "Input how many floor and unit/floor" to "Enter grid specifications"
- [ ] We have to provide landscape and portrait orientation function

[2017-08-22 04:03] benjaminl83 commented on #2
Image upload cannot be edited. only image ratio can be changed

[2017-08-22 04:03] #2 closed

[2017-08-22 04:06] benjaminl83 commented on #3
Cell numbering format has changed to *Floor*-*Sequence*
Requirement changed refer to https://github.com/Interaktivtechnology/Raimon-Web/issues/63

[2017-08-22 04:06] #3 closed

[2017-08-22 04:07] benjaminl83 commented on #15
Resolved, this is because of cell overlapping

[2017-08-22 04:07] #15 closed

[2017-08-22 04:09] benjaminl83 commented on #18
Right clicking on selected cells will bring the Cell Attributes and Product info dialogue box  back into view

[2017-08-22 04:09] #18 closed

[2017-08-22 04:13] benjaminl83 commented on #35
Publish option is available now

[2017-08-22 04:13] #35 closed

[2017-08-22 04:17] benjaminl83 commented on #53
@purnomoeko
Preference is for width to be on top, user has a preference to work with the width, then the height, then moving left and right

[2017-08-22 04:24] benjaminl83 commented on #31
@Ponpimonk
issue is resolved under https://github.com/Interaktivtechnology/Raimon-Web/issues/18

[2017-08-22 04:42] benjaminl83 commented on #37
Able to delete a building

[2017-08-22 04:42] #37 closed

[2017-08-22 04:43] benjaminl83 commented on #42
Projects are showing correctly in mobile now

[2017-08-22 04:43] #42 closed

[2017-08-22 04:45] benjaminl83 commented on #45
Tested working but not all the time, issue opened as https://github.com/Interaktivtechnology/Raimon-Web/issues/64

[2017-08-22 04:45] #45 closed

[2017-08-22 04:57] benjaminl83 commented on #39
Resolved

[2017-08-22 04:57] #39 closed

[2017-08-22 08:51] VeenaKurady commented on #56
ok completed

[2017-08-22 09:01] VeenaKurady commented on #33
Already(not devleoped by Interaktiv) Trigger exists to disallow Account from being created if firstname and last name matches or email id matches to prevent duplication of Record

[2017-08-22 09:10] benjaminl83 commented on #33
@Wichudadej
In SF backend its not created  yet
![image](https://user-images.githubusercontent.com/18274902/29557774-b82fca9e-875c-11e7-99c7-2fd5078b4a2d.png)

[2017-08-22 09:10] chuanhiang commented on #17
Feature dropped

[2017-08-22 09:10] #17 closed

[2017-08-22 09:34] benjaminl83 commented on #56
Checked. Completed

[2017-08-22 09:34] #56 closed

[2017-08-22 15:22] benjaminl83 commented on #13
@Ponpimonk
Now we are able to link the cells, we should drop this issue

[2017-08-22 15:54] benjaminl83 commented on #5
Fulfilled under this workflow rule https://rl--full.cs31.my.salesforce.com/01Qp00000005RJ9

[2017-08-22 15:54] #5 closed

[2017-08-22 15:58] benjaminl83 commented on #6
Confirmed that when Task created https://rl--full.cs31.my.salesforce.com/00Tp0000007RCfz
Event Tour is also generated https://rl--full.cs31.my.salesforce.com/a0kp0000004T0Tg

[2017-08-22 15:58] #6 closed

[2017-08-22 16:00] benjaminl83 commented on #7
Confirmed for task https://rl--full.cs31.my.salesforce.com/00Tp0000007RCfz
Received email
![image](https://user-images.githubusercontent.com/18274902/29575083-0b0eb39a-8796-11e7-8270-dea8adc21ee2.png)

[2017-08-22 16:00] #7 closed

[2017-08-22 16:03] benjaminl83 commented on #9
Confirmed in email templates https://rl--full.cs31.my.salesforce.com/00X?lsr=170&retURL=%2Fui%2Fsetup%2FSetup%3Fsetupid%3DCommunicationTemplates&lsi=5&setupid=CommunicationTemplatesEmail
![image](https://user-images.githubusercontent.com/18274902/29575195-60390294-8796-11e7-9747-13fe0b6a6ce7.png)

[2017-08-22 16:03] #9 closed

[2017-08-22 16:08] benjaminl83 commented on #10
Confirmed. Err SP-O-001 will be invoked
![image](https://user-images.githubusercontent.com/18274902/29575481-37b637d2-8797-11e7-9f87-59901d32de04.png)

[2017-08-22 16:08] #10 closed

[2017-08-22 16:10] benjaminl83 commented on #11
Confirmed Error SP-T-0001 will be invoked
![image](https://user-images.githubusercontent.com/18274902/29575572-79e2b9b4-8797-11e7-9f52-92dd31803f63.png)

[2017-08-22 16:10] #11 closed

[2017-08-22 16:11] benjaminl83 commented on #14
Confirmed
![image](https://user-images.githubusercontent.com/18274902/29575586-86ee51cc-8797-11e7-903b-9ddfe493ea3d.png)

[2017-08-22 16:11] #14 closed

[2017-08-22 16:12] benjaminl83 commented on #19
Duplicated from
https://github.com/Interaktivtechnology/Raimon-Web/issues/5

[2017-08-22 16:12] #19 closed

[2017-08-22 16:13] benjaminl83 commented on #21
@VeenaKurady
This is very vague, I cannot test this

[2017-08-22 16:14] benjaminl83 commented on #29
@purnomoeko
Please assess and close

[2017-08-22 16:15] benjaminl83 commented on #28
Will confirm this logic with Raimon tomorrow

[2017-08-22 16:15] benjaminl83 commented on #30
@purnomoeko
Please assess and close

[2017-08-22 16:17] benjaminl83 commented on #41
@purnomoeko
Reassigned to you since Josua is not available

[2017-08-22 16:17] benjaminl83 commented on #69
@purnomoeko
Reassigned to you since Josua is not available

[2017-08-22 16:17] benjaminl83 commented on #68
@purnomoeko
Reassigned to you since Josua is not available

[2017-08-22 16:18] benjaminl83 commented on #67
@purnomoeko
Reassigned to you since Josua is not available

[2017-08-22 16:18] benjaminl83 commented on #51
@purnomoeko
Reassigned to you since Josua is not available

[2017-08-22 16:18] benjaminl83 commented on #50
@purnomoeko
Reassigned to you since Josua is not available

[2017-08-22 16:19] benjaminl83 commented on #43
@purnomoeko
Reassigned to you since Josua is not available

[2017-08-23 05:39] benjaminl83 commented on #59
Unflagging the Hold checkbox in opportunity will bring product back to Available
Tested on Opp: https://rl--full.cs31.my.salesforce.com/006p0000004lcsN
Product changed: https://rl--full.cs31.my.salesforce.com/01t90000005hiN2

[2017-08-23 05:39] #59 closed

[2017-08-23 06:31] #33 closed

[2017-08-23 06:32] Ponpimonk commented on #31
Ok.

[2017-08-23 06:32] #31 closed

[2017-08-23 06:34] Ponpimonk commented on #1
@benjaminl83 @chuanhiang This one I assume interaktiv will test and close?

[2017-08-23 10:58] benjaminl83 opened #70 "Web app reporting - Cell display definition"
Please show the Transfer Status on the left side, Resale Status in the middle, Lease Status on the right
![image](https://user-images.githubusercontent.com/18274902/29612645-da8f4906-8834-11e7-8280-f51e1656f3f3.png)

Each status follows a 2 character code.

**Transfer status:**
Awaiting Hand Over = AW
Tentative = TN
Inspected 1 = I1
Inspected 2 = I2
Inspected 3 = I3
Inspected 3+ = I+
Paid 100% = P

[2017-08-23 11:28] VeenaKurady commented on #61
issue solved

[2017-08-24 03:15] Ponpimonk opened #71 "Query issue - Filter does not clear after changing criteria and applying again several times"
@benjaminl83 @purnomoeko

![image](https://user-images.githubusercontent.com/30112738/29647762-0f6cde1a-88b5-11e7-8c9c-13c55ffa8f37.png)

[2017-08-24 03:23] Ponpimonk opened #72 "Query Issue - Cannot clear the filter"
@benjaminl83 @purnomoeko
![image](https://user-images.githubusercontent.com/30112738/29647977-395f439c-88b6-11e7-8abf-d3b9430f5861.png)

[2017-08-24 03:35] Ponpimonk opened #73 "New Building layout - After searching for the project and click on it, the screen becomes darker"
@benjaminl83 @purnomoeko @chuanhiang I am unable to continue with the grid building. After clicking on the project, it bounces me to this page right away without letting me choose the grids.

![image](https://user-images.githubusercontent.com/30112738/29648330-cbf928c0-88b7-11e7-9324-2305093f83da.png)

[2017-08-24 03:37] chuanhiang commented on #73
@purnomoeko

All pages are grayed out after user clicked the search button while trying to search for the project name.

Thanks.

[2017-08-24 03:42] Ponpimonk commented on #72
Can do. It's because of the monitor.

[2017-08-24 03:42] #72 closed

[2017-08-24 04:00] Ponpimonk opened #74 "Web App Reporting - Product Cell - Information is not showing correctly. No area. Incorrect unit price."
No Area is showing. It should have pulled from "Sold Area"
Unit price for sold product should pull from Net Unit + Furniture Price.

![image](https://user-images.githubusercontent.com/30112738/29648954-5e4673ba-88bb-11e7-8b20-1d5d8ba3f97e.png)

[2017-08-24 04:42] Ponpimonk opened #75 "Color Code - Should show the color instead of the coding"
@benjaminl83 @purnomoeko @chuanhiang

![image](https://user-images.githubusercontent.com/30112738/29649850-3010744a-88c1-11e7-83e9-4285306f4f46.png)

[2017-08-24 04:47] Ponpimonk opened #76 "Can we have the box float around"
@benjaminl83 @purnomoeko
![image](https://user-images.githubusercontent.com/30112738/29649959-e0c93f42-88c1-11e7-8eec-72e303f39364.png)

[2017-08-24 04:49] chuanhiang opened #77 "Linking Dialogue Box Error"
![image](https://user-images.githubusercontent.com/9443519/29650015-2e3fd8e4-88c2-11e7-921f-aa227d0cc334.png)

[2017-08-24 04:57] Ponpimonk opened #78 "Filter coloring is not working properly"
@benjaminl83 @purnomoeko
Filter 1: Room type = 1BR & Unit value < 3MB & Color = yellow
Filter 2: Room type = 2BRs, Color = Blue
But the picture is showing the color the other way around (Yellow for Filter 2 and Blue for Filter 1)

![image](https://user-images.githubusercontent.com/30112738/29650153-2b131ad6-88c3-11e7-8699-b3e025535c9d.png)

[2017-08-24 04:57] benjaminl83 commented on #28
@VeenaKurady
You need to change this logic to NOT consider the product:

e.g. Project =  "The Lofts Silom", Account = "Ben"
Existing Opportunity = Loft Silom > Ben - Sales Status = Qualified. No product tagged
User try to create 2nd Opportunity in The Lofts Silom for Ben -> MUST FAIL

However if:
Existing Opportunity = Loft Silom > Ben - Sales Status = Booked
User try to create 2nd Opportunity in

[2017-08-24 05:56] chuanhiang commented on #76
@purnomoeko

Currently, the cells on the left are blocked by the filter box. Another suggestion is to allow the user to move the filter box to the left side. Floating is the best option.

Thanks.

[2017-08-24 10:15] benjaminl83 commented on #28
@chuanhiang @VeenaKurady
This requirement is dropped, I need you to undo this change

[2017-08-24 17:59] benjaminl83 commented on #51
@Ponpimonk
Resolved, But since last name is mandatory, we are displaying in LastName FirstName format as we are sorting by LastName.

[2017-08-24 18:06] benjaminl83 commented on #41
Duplicate of https://github.com/Interaktivtechnology/Raimon-Web/issues/69

[2017-08-24 18:06] #41 closed

[2017-08-25 02:44] benjaminl83 commented on #68
Resolved.
Logging in as management user I was not able to access user management page
![image](https://user-images.githubusercontent.com/18274902/29697547-5d1e383e-8982-11e7-888f-beae583ef857.png)

[2017-08-25 02:52] benjaminl83 commented on #61
confirmed.
2 emails are generated with the correct header and footers from the project
![image](https://user-images.githubusercontent.com/18274902/29697714-67bf4dea-8983-11e7-9324-b7395ad527b5.png)

[2017-08-25 02:52] #61 closed

[2017-08-25 03:17] chuanhiang commented on #75
@purnomoeko

We should allow the user to change the code as well so they can use colours from other colour apps.

Thanks.

[2017-08-28 02:38] purnomoeko commented on #76
The box is too big for floating we have hide button to hide it, floating box is not a good choice for this case.

[2017-08-28 02:38] purnomoeko commented on #76
The box is too big for floating we have hide button to hide it, floating box is not a good choice for this case.

[2017-08-28 03:21] chuanhiang commented on #76
User is not able to see the query results with the filters at the same time. We need to have another way to allow them to see the results with the filters. Any suggestions?

[2017-08-28 08:32] benjaminl83 commented on #74
@purnomoeko
Please remove the "B" sign at the currency

[2017-08-28 08:36] benjaminl83 commented on #69
@fransjosua
Please check and resolve this

[2017-08-28 08:47] benjaminl83 commented on #71
@Ponpimonk
Please elaborate as we cannot replicate this problem on our side.
N.B.: Plug out from the projector as you do this please

[2017-08-28 08:55] benjaminl83 commented on #70
@Ponpimonk
The statuses are static coding and are not drawn from SF dynamically.
This means adding / removing statuses in SF will not dynamically change the statuses in the reporting system

[2017-08-28 09:00] benjaminl83 commented on #63
Confirmed

[2017-08-28 09:00] #63 closed

[2017-08-28 09:06] benjaminl83 commented on #62
@Ponpimonk
The grid is drawn over the image cannot retain its attributes when you change the image

[2017-08-28 09:31] Ponpimonk commented on #77
Ok now

[2017-08-28 09:31] #77 closed

[2017-08-28 09:33] Ponpimonk commented on #62
@benjaminl83 Please explain to me when we skype on Wed 30TH Aug. Thanks.

[2017-08-28 09:41] Ponpimonk commented on #70
@benjaminl83  To make sure I understand correctly, if I change the status from "Tentative" to "Transfer", the status will change from "TN" to "TF" automatically correct?

However if I add a new status such as "test" to the list, no code will show.

Pls confirm.

[2017-08-28 09:49] Ponpimonk opened #79 "Cell Building & Cell Attribute"
@benjaminl83 @purnomoeko  Everytime i click CTRL and try to click the cell on the cell right next, the cell attribute always move and block that cell. This always happen when I try to work from left to right.

![image](https://user-images.githubusercontent.com/30112738/29768497-b0bf5a32-8c10-11e7-86c4-260794f2d0ef.png)

[2017-08-28 10:00] Ponpimonk opened #80 "Undo button skip the step and undo everything"
@benjaminl83 @purnomoeko

[2017-08-28 10:05] Ponpimonk opened #81 "Unable to get rid of the grid line"
@benjaminl83 @purnomoeko I have tried to expand the width but the grid line is still there. This will happen when I click "CTRL" and delete multiple cells together. If I delete the cell one-by-one and change the height and width of the main cell, the grid will be gone.

https://raimon-land-sales-matrix.firebaseapp.com/building/edit/-KscFy8f-dsMWv7e1Wj8

![image](https://user-images.githubuserconte

[2017-08-28 10:08] benjaminl83 commented on #54
@purnomoeko
Make Project field mandatory

[2017-08-28 10:13] #30 closed

[2017-08-28 10:14] benjaminl83 commented on #20
Email can be sent with the correct header and footer from Project

[2017-08-28 10:14] #20 closed

[2017-08-28 10:18] benjaminl83 commented on #80
This is duplicate of issue #64
Please close this one

[2017-08-28 10:18] chuanhiang commented on #47
This issue is dropped as there is already another issue to change the hold unit to organe.

[2017-08-28 10:18] #47 closed

[2017-08-28 10:19] benjaminl83 commented on #81
@Ponpimonk
This could be overlapping of cells.
Can you check if there is a cell underneath?

[2017-08-28 10:19] benjaminl83 commented on #79
@purnomoeko
Is this behaviour customizable?

[2017-08-28 10:20] chuanhiang commented on #16
Dropped for the time being.

[2017-08-28 10:20] #16 closed

[2017-08-28 10:23] Ponpimonk commented on #81
@benjaminl83 I try to delete and expand to  ensure no cell is underneath. But the result is very confusing. Please go to this link.
https://raimon-land-sales-matrix.firebaseapp.com/building/edit/-KscFy8f-dsMWv7e1Wj8

[2017-08-28 10:24] Ponpimonk opened #82 "No price information show up"
@benjaminl83 @purnomoeko

https://raimon-land-sales-matrix.firebaseapp.com/building/edit/-KscFy8f-dsMWv7e1Wj8

![image](https://user-images.githubusercontent.com/30112738/29769731-c8d3ec00-8c15-11e7-8feb-4d2eaf7d19c9.png)

[2017-08-28 10:30] Ponpimonk commented on #71
@benjaminl83 I have set the filter a"Net Unit Price + Furntiure is larger or equal to 2,081,456.2.
The hi-light however covers the cell  with value 2,507,386.4.

https://raimon-land-sales-matrix.firebaseapp.com/query/edit/-KsHKKChvcYJn_pA9ibI/-KsHVQXsJEOsIG9d9saU

![image](https://user-images.githubusercontent.com/30112738/29769864-5c26d562-8c16-11e7-996d-1f4996186270.png)

[2017-08-28 10:42] Ponpimonk opened #83 "Query Color Issue"
@benjaminl83 @purnomoeko

The color changes incorrectly when there are more than 1 filter involved.
Filter color were set and display as follows:
Filter 1 set = yellow, result = green
Filter 2 set = blue, result = blue
Filter 3 set = green, result = yellow

https://raimon-land-sales-matrix.firebaseapp.com/query/edit/-KsHKKChvcYJn_pA9ibI/-KsHVQXsJEOsIG9d9saU

![image](https://user-images.githubuser

[2017-08-28 10:51] Ponpimonk commented on #71
@benjaminl83

Filter 1: Title Deed price is larger than 15,000,000 THB.
Why is the cells with value below 15 MB are hi-lighted?

![image](https://user-images.githubusercontent.com/30112738/29770473-7e3c92ec-8c19-11e7-8636-c78e967dc4ca.png)

[2017-08-28 10:53] Ponpimonk opened #84 "Query section"
@benjaminl83 @purnomoeko  how do I know which cell is sold which cell is still available? Is it through thee color of the letters? Letters in blue or red = Sold. Letters in black = Not sold.

[2017-08-28 10:58] Ponpimonk commented on #71
@benjaminl83
Filter 1: Title Deed Price is larger than 15,000,000 AND Title Deed Price is lower than 16000000 = yellow
Filter 2: Title Deed price is larger or equal to 16,000,000 AND title Deed Price is lower than or equal to 17,000,000

The result is now showing correctly.

![image](https://user-images.githubusercontent.com/30112738/29770695-7482c25c-8c1a-11e7-9a1e-eb4ed5271205.png)

[2017-08-28 10:58] #71 closed

[2017-08-28 11:06] Ponpimonk opened #85 "Query Sales Status showing incorrect results"
@benjaminl83 @purnomoeko

Filter 1: Sales status = Available = Green
Filter 2: Sales status = Sold = yellow

Results: LA-2505 = green but actually the unit status in Sandbox is available
LA-2905 = yellow but the unit status in Sandbox is Not Available.

![image](https://user-images.githubusercontent.com/30112738/29770931-808fbf90-8c1b-11e7-89f1-3396004e82f5.png)

![image](https://user-images.githu

[2017-08-28 11:10] Ponpimonk commented on #80
Pls fix issue 64 then

[2017-08-28 11:10] #80 closed

[2017-08-28 11:12] Ponpimonk commented on #68
Test and ok

[2017-08-28 11:12] #68 closed

[2017-08-28 11:15] Ponpimonk commented on #53
OK

[2017-08-28 11:15] #53 closed

[2017-08-28 11:16] Ponpimonk commented on #51
Can add now

[2017-08-28 11:16] #51 closed

[2017-08-28 11:18] Ponpimonk commented on #27
The menu property management is working now.

[2017-08-28 11:18] #27 closed

[2017-08-28 11:19] Ponpimonk commented on #57
@Wichudadej  Please close after N'Tig finish testing

[2017-08-28 11:25] Ponpimonk opened #86 "Query Issue - Quota display"
@purnomoeko @benjaminl83 Why is quota showing on the right handside corner? The quota should be displayed by color only, no need to show.

![image](https://user-images.githubusercontent.com/30112738/29771443-f52636b6-8c1d-11e7-832b-c4c064a12236.png)

[2017-08-28 11:31] Ponpimonk opened #87 "Query - Price positioning different from the Property Management & Area does not show"
@benjaminl83 @purnomoeko

Why the price positioning is on the top right corner when I view the building in Query?
The price position, P/sqm, Area should stay in the same position whether I view the building via property management or query.

Also why there is no area showing ? US-502 has a title deed area = 25 sqm but the cell is not showing.

![image](https://user-images.githubusercontent.com/301

[2017-08-28 11:39] Ponpimonk opened #88 "Property Management - Incorrect labeling"
@purnomoeko @benjaminl83

Total deed price should be changed to "Title Deed Price"
![image](https://user-images.githubusercontent.com/30112738/29771901-4121cc04-8c20-11e7-8f5a-4bc5c4a387b2.png)

[2017-08-28 11:46] Ponpimonk commented on #83
@purnomoeko @benjaminl83

The problem with query regarding the color coding is when we start to use "Filter 3" you color switch by itself. If I work between 2 filters, the color will show correctly.

[2017-08-28 11:48] Ponpimonk opened #89 "Query -Unable to save"
@benjaminl83 @chuanhiang @purnomoeko

I have saved this query before. I didn't make a change to the name. But suddenly I cannot save.

https://raimon-land-sales-matrix.firebaseapp.com/query/edit/-KsHKKChvcYJn_pA9ibI/-KscbjpfmV_cIbjAbvk1

![image](https://user-images.githubusercontent.com/30112738/29772134-821a3a4c-8c21-11e7-9e77-d988703c8cba.png)

[2017-08-28 11:50] Ponpimonk commented on #89
I have just repeated the same step and I can now save.

[2017-08-28 11:59] Ponpimonk commented on #78
I need to lable this as critical as if this is not working ok, i cannot go live.

[2017-08-28 12:03] Ponpimonk commented on #84
![image](https://user-images.githubusercontent.com/30112738/29772554-81792f60-8c23-11e7-9b86-a8d41bbdb46b.png)

[2017-08-28 12:03] #84 closed

[2017-08-28 12:08] chuanhiang commented on #85
@Ponpimonk

We tried the following:
Filter 1 = Sales Status = Available
Filter 2 = Sales Status = Sold
Filter 3 = Sales Status = Hold

After applying the second filter the result is correct and after applying the third filter it is still showing correct results.

![image](https://user-images.githubusercontent.com/9443519/29772680-69f66f52-8c2c-11e7-84a1-6a257d6ea08b.png)

[2017-08-28 12:35] chuanhiang commented on #82
@Ponpimonk

I tried it and it is showing. Let's monitor this situation.

![image](https://user-images.githubusercontent.com/9443519/29773530-78109096-8c30-11e7-89cd-c5f5b6012010.png)

[2017-08-28 16:56] chuanhiang commented on #79
@purnomoeko

This issue does not happen to other buildings. You can try on this building and it does not happen.
https://raimon-land-sales-matrix.firebaseapp.com/building/edit/-KpV7LDsBM6ZMXj9WRYe

[2017-08-29 03:40] #28 closed

[2017-08-29 03:40] #29 closed

[2017-08-29 10:35] purnomoeko commented on #81
@Ponpimonk

this issue need to be cleared in training session. because it's hard to visualize what you experienced.

[2017-08-29 10:56] purnomoeko commented on #82
If the grid is not big enough we won't show the price. please consider to make the grid big enough to contain the price info

[2017-08-29 12:56] chuanhiang commented on #85
@purnomoeko

The filter and colour code is correct now.

However, when the unit Sales Status = Sold we have to show the respective values
Net Unit Price - top right corner
Net Price / Sq - bottom right corner
Sold Area - bottom left corner

Please try to get this one right. They are very particular about this.
Thanks.

[2017-08-29 13:13] chuanhiang commented on #83
@purnomoeko

The colour is not working for transfer status
![image](https://user-images.githubusercontent.com/9443519/29822681-dc8ed432-8cfe-11e7-96c6-236e028124fb.png)
![image](https://user-images.githubusercontent.com/9443519/29822687-e2f50cce-8cfe-11e7-97d1-d6bf32f0aea2.png)

The transfer status = Tentative is not showing

[2017-08-29 13:18] chuanhiang commented on #83
@purnomoeko
Now it is showing
![image](https://user-images.githubusercontent.com/9443519/29822884-90c8effa-8cff-11e7-9c53-227227f811ff.png)

This function requires monitoring.

Thanks.

[2017-08-29 13:19] chuanhiang commented on #83
Sorry, issue not opened by me.

[2017-08-29 13:27] chuanhiang commented on #78
@Ponpimonk

Please check on your end and confirm if we can close this issue.
Filter 1 - Sales Status = Available
![image](https://user-images.githubusercontent.com/9443519/29823054-2100babc-8d00-11e7-93b2-f09264e9424e.png)

Filter 2 - Sales Status = Sold
![image](https://user-images.githubusercontent.com/9443519/29823188-805cba74-8d00-11e7-9f03-86b5b08bbf8f.png)

Filter 3 - Sales Status = Booked
!

[2017-08-29 13:32] chuanhiang commented on #78
@Ponpimonk

Please take note that when Sales Status = Sold the values shown in the cell has not changed to the correct value. Please check the prices in Salesforce to verify the price. This issue is about filter colouring and now it is correct.

Thanks.

[2017-08-29 13:38] chuanhiang commented on #69
@fransjosua

Still not resolved.
![image](https://user-images.githubusercontent.com/9443519/29823833-65919226-8d02-11e7-95e5-a25525a4d212.png)

[2017-08-29 13:41] chuanhiang commented on #69
@benjaminl83
I removed the urgent label because I don't think it is a problem for management user to see unpublished buildings

[2017-08-29 13:48] chuanhiang commented on #87
@Ponpimonk

Please check this issue, the results are correct now.

Thanks.

[2017-08-29 13:50] chuanhiang commented on #86
@Ponpimonk

Please check, it is correct now.

Thanks.

[2017-08-29 13:52] chuanhiang commented on #81
@Ponpimonk

This is not a bug, you just need to be familiar with editing the grid lines. If this is an issue I won't be able to draw the elevations for The Loft Asoke.

Please close this issue

Thanks.

[2017-08-29 13:55] chuanhiang opened #90 "Web App Reporting - Adding Salesforce link in the popup window when right clicking the linked cell"
@purnomoeko

Please try to make this function available as soon as you can so it is easier for us to compare the data between the cell and Salesforce record.

Thanks.

[2017-08-29 14:00] chuanhiang commented on #67
@fransjosua

This is still not working.

Please login using:

Username: leoteng.ch@gmail.com
PW: interaktiv.1

User still can access property management.

Thanks.

[2017-08-29 14:01] chuanhiang commented on #50
@fransjosua

This is not fixed.

Thanks.

[2017-08-29 14:02] purnomoeko commented on #90
@chuanhiang You can click unit name to go to salesforce.

[2017-08-29 14:02] purnomoeko commented on #90
@chuanhiang You can click unit name to go to salesforce.

[2017-08-29 14:03] chuanhiang commented on #46
This issue is closed
![image](https://user-images.githubusercontent.com/9443519/29825095-de2862b6-8d05-11e7-9c01-7a8a4a24d6eb.png)

[2017-08-29 14:03] #46 closed

[2017-08-29 14:07] chuanhiang commented on #74
@purnomoeko
We are left with this urgent issue and we can push for sign off.

Thanks.

[2017-08-29 14:47] chuanhiang commented on #90
@purnomoeko

This link is active in linking the cell but not in web reporting. It is web reporting that is also required.

Thanks.

[2017-08-30 01:04] chuanhiang commented on #89
@Ponpimonk

Please test again and you should be able to save now.

![image](https://user-images.githubusercontent.com/9443519/29850736-46ec1d5e-8d62-11e7-842f-446f72073c6e.png)

[2017-08-30 01:09] chuanhiang commented on #73
@Ponpimonk

Please retest this again and there should be no problem trying to save a new building layout.

Thanks.

![image](https://user-images.githubusercontent.com/9443519/29850805-cc6ae60e-8d62-11e7-9d3b-2885ab9bc103.png)
![image](https://user-images.githubusercontent.com/9443519/29850833-f1a10d54-8d62-11e7-91c0-9860f4e4cc83.png)

[2017-08-30 01:14] chuanhiang commented on #66
@Ponpimonk

Please retest again and hope you can close this issue.

Thanks.

![image](https://user-images.githubusercontent.com/9443519/29850926-977133bc-8d63-11e7-91f3-a15d72cf99c1.png)

[2017-08-30 01:18] chuanhiang commented on #64
@Ponpimonk

Please test again as it now can undo step by step but not sure what is the limit of this function.

Thanks.

@purnomoeko
Do you know how far the undo function can go?

Thanks.

[2017-08-30 01:32] chuanhiang commented on #54
@purnomoeko
Practically user can still work with the building and retrospectively select the project name but when saving you get a non-stop running saving mode.

![image](https://user-images.githubusercontent.com/9443519/29851350-2b14b614-8d66-11e7-84e3-925b10671e29.png)

[2017-08-30 01:42] chuanhiang commented on #67
@benjaminl83

Can we close this since Khun Ponpimon already closed #68?

Thanks.

[2017-08-30 01:44] chuanhiang opened #91 "Web App Admin - Management user can still access property management"
@fransjosua

This is still not working.

Please login using:

Username: leoteng.ch@gmail.com
PW: interaktiv.1

User still can access property management.

Thanks.

[2017-08-30 01:48] chuanhiang commented on #79
@Ponpimonk

You can try again, it is not happening to at least 4 buildings I've tested.

Thanks.

[2017-08-30 01:50] chuanhiang commented on #76
@Ponpimonk

We have improved the interface by showing the colour code selected and also a legend on the top though not as ideal at the moment. Please close this issue if the implemented function is acceptable.

Thanks.

![image](https://user-images.githubusercontent.com/9443519/29851772-a9715e16-8d68-11e7-9834-def1aea3521a.png)

[2017-08-30 01:54] chuanhiang commented on #75
@Ponpimonk

Yes, we are showing the colour selected and also increased the option for selecting colours.

Thanks.

![image](https://user-images.githubusercontent.com/9443519/29851863-2b220884-8d69-11e7-957b-dc20ba2d28fe.png)

[2017-08-30 01:57] chuanhiang commented on #58
This issue is dropped. Can always reopen if the warning sign is not obvious enough.

[2017-08-30 01:57] #58 closed

[2017-08-30 02:01] benjaminl83 commented on #57
@Ponpimonk @Wichudadej
I will be closing this issue. Again, you need to go into this links in sandbox to put in the "Generic wordings for Thank you letter"
https://rl--full.cs31.my.salesforce.com/00Xp0000000Ql4g?setupid=CommunicationTemplatesEmail
https://rl--full.cs31.my.salesforce.com/00Xp0000000Ql4l?setupid=CommunicationTemplatesEmail

[2017-08-30 02:14] benjaminl83 commented on #55
Tested with error as show if incorrect entry made
![image](https://user-images.githubusercontent.com/18274902/29852306-ef866592-8d6b-11e7-9652-408f61d4c4ee.png)

[2017-08-30 02:14] #55 closed

[2017-08-30 02:27] benjaminl83 commented on #8
Confirmed, but user must upload according to convention:
Brochure_ProjectName.pdf
Factsheet_ProjectName.pdf

[2017-08-30 02:27] #8 closed

[2017-08-30 02:31] benjaminl83 commented on #50
Confirmed
![image](https://user-images.githubusercontent.com/18274902/29852741-50bdcdb2-8d6e-11e7-9638-820b6cdbc098.png)

[2017-08-30 02:36] benjaminl83 commented on #67
Confirmed
For a Mobile DM user

Trying to access the webapp will invoke the error like below
![image](https://user-images.githubusercontent.com/18274902/29852854-17e97d78-8d6f-11e7-92fc-70e2bdaf8f29.png)

[2017-08-30 02:42] benjaminl83 commented on #69
@Ponpimonk
Accessing functions that are not allowed will bring the user to an error page
![image](https://user-images.githubusercontent.com/18274902/29853007-e92c7264-8d6f-11e7-96eb-bdeff6c4c52b.png)

[2017-08-30 02:49] benjaminl83 commented on #90
Confirmed, link is working and will be shown as blue clickable link
![image](https://user-images.githubusercontent.com/18274902/29853154-d08ab4ae-8d70-11e7-8f99-920ecc20ca97.png)

[2017-08-30 03:37] Ponpimonk commented on #13
Ok

[2017-08-30 03:37] #13 closed

[2017-08-30 03:43] Ponpimonk commented on #50
OK

[2017-08-30 03:43] #50 closed

[2017-08-30 03:49] Ponpimonk commented on #57
OK

[2017-08-30 03:49] #57 closed

[2017-08-30 04:51] Ponpimonk commented on #62
OK understand no background change and retain the grids

[2017-08-30 04:51] #62 closed

[2017-08-30 04:53] Ponpimonk commented on #64
OK

[2017-08-30 04:53] #64 closed

[2017-08-30 04:54] benjaminl83 commented on #91
@chuanhiang
May need to clear cache too.
Now I try its working. I get an error like such
![image](https://user-images.githubusercontent.com/18274902/29855960-47d3bb6c-8d82-11e7-99fa-8abbba86ea94.png)

[2017-08-30 04:54] Ponpimonk commented on #66
OK :)

[2017-08-30 04:54] #66 closed

[2017-08-30 04:58] Ponpimonk commented on #67
ok

[2017-08-30 04:58] #67 closed

[2017-08-30 05:03] Ponpimonk commented on #69
@chuanhiang @benjaminl83

Management can still access the unpublished building. Per below image, the left hand side is Admin access, the right hand side is Management access.

![image](https://user-images.githubusercontent.com/30112738/29856163-43cdfcf0-8d7b-11e7-8930-1b0b9379572d.png)

[2017-08-30 05:05] Ponpimonk commented on #73
OK

[2017-08-30 05:05] #73 closed

[2017-08-30 05:07] Ponpimonk opened #92 "Hiding Property Management + User Management Bar for "Management User""
@benjaminl83 @chuanhiang @purnomoeko

Can  we hide 1) Property Management 2) User Management for "Management user"?

![image](https://user-images.githubusercontent.com/30112738/29856238-b52a2ea0-8d7b-11e7-9cf2-0575541056e2.png)

[2017-08-30 05:09] Ponpimonk commented on #75
OK

[2017-08-30 05:09] #75 closed

[2017-08-30 05:10] Ponpimonk commented on #88
OK
![image](https://user-images.githubusercontent.com/30112738/29856319-3d71654e-8d7c-11e7-971a-e7bc369afd24.png)

[2017-08-30 05:10] #88 closed

[2017-08-30 05:13] Ponpimonk opened #93 "Cell labeling - Change field from Room type to Unit Type"
@chuanhiang @benjaminl83 @purnomoeko

![image](https://user-images.githubusercontent.com/30112738/29856388-aa31a93c-8d7c-11e7-919f-f2211916073e.png)

[2017-08-30 05:15] Ponpimonk commented on #76
Ok as we can  hide the bar also

[2017-08-30 05:15] #76 closed

[2017-08-30 05:43] chuanhiang commented on #74
@Ponpimonk

Please double check the information in the cell.

Thanks.

![image](https://user-images.githubusercontent.com/9443519/29857068-41e52c8e-8d89-11e7-854a-2c8cf52fcb02.png)

[2017-08-30 05:45] chuanhiang commented on #1
All functions are delivered though not int he exact description.

[2017-08-30 05:45] #1 closed

[2017-08-30 05:49] chuanhiang commented on #60
@fransjosua

Can you look into this issue by today?

Thanks.

[2017-08-30 06:01] benjaminl83 commented on #70
@purnomoeko
Please check
![image](https://user-images.githubusercontent.com/18274902/29857493-824ea050-8d8b-11e7-966a-ac5179f5877e.png)

https://rl--full.cs31.my.salesforce.com/01t90000005hiPjAAI

I think the statuses were meant to show but the cell is too "Thin" to show it

[2017-08-30 06:07] chuanhiang commented on #91
@benjaminl83

Ok noted.

Thanks.

[2017-08-30 06:08] chuanhiang commented on #90
Resolved.

[2017-08-30 06:08] #90 closed

[2017-08-30 06:14] Ponpimonk opened #94 "Booked Unit should work the same way as SOLD unit"
@benjaminl83 @purnomoeko

The cell which the unit = booked should work just like the cell with sold unit
1. Showing "Net Unit Price + Furniture"
2. Showing "Net P/sqm"
3. Showing "sold area"

Do not show:
1. Title Deed Price
2. P/sqm
3. Title Deed Area

[2017-08-30 07:27] purnomoeko commented on #43
This issue unlikely to happen, if you want to deactivate your current login you should ask another person to disable your account.

[2017-08-30 07:55] purnomoeko commented on #70
@benjaminl83 is this logic applied to layout builder as well?

[2017-08-30 08:20] chuanhiang commented on #94
@Ponpimonk

Are you referring to the mobile app or web app?

Thanks.

[2017-08-30 08:41] chuanhiang commented on #92
@Ponpimonk

Please check and close the issue if its working on your side.

Thanks.

![image](https://user-images.githubusercontent.com/9443519/29863368-1317501c-8da2-11e7-9bd9-2c6649b549ef.png)

[2017-08-30 08:43] chuanhiang commented on #70
@Ponpimonk

Can we agree that this logic is not required when configuring the building?

Thanks.

[2017-08-30 08:52] chuanhiang commented on #60
Resolved.

[2017-08-30 08:52] #60 closed

[2017-08-30 08:57] benjaminl83 commented on #43
Confirmed by Chuan

[2017-08-30 08:57] #43 closed

[2017-08-30 09:20] Ponpimonk commented on #70
@chuanhiang Can. But it will be displayed for Query right?

[2017-08-30 09:21] chuanhiang commented on #70
@Ponpimonk

Yes, it is already showing in the query function, please check.

Thanks.

[2017-08-30 09:23] Ponpimonk commented on #78
Filtering system is working ok.

[2017-08-30 09:23] #78 closed

[2017-08-30 09:27] Ponpimonk commented on #74
@benjaminl83 @purnomoeko @chuanhiang

Why area is showing as unidentified?

![image](https://user-images.githubusercontent.com/30112738/29865611-26112e9c-8da0-11e7-9e24-44230fd0944e.png)

[2017-08-30 09:29] Ponpimonk commented on #74
https://raimon-land-sales-matrix.firebaseapp.com/query/new/-KsmEFf75EN4akTlS8nC

[2017-08-30 09:29] Ponpimonk commented on #70
OK

[2017-08-30 09:29] #70 closed

[2017-08-30 09:32] Ponpimonk opened #95 "Cannot see property management or user management - Admin User"
@chuanhiang @purnomoeko @benjaminl83

I am logged in as an admin but only have an access to query
![image](https://user-images.githubusercontent.com/30112738/29865823-bd274e60-8da0-11e7-840a-67f3016453eb.png)

[2017-08-30 09:35] Ponpimonk commented on #95
OK. I log out and log in again.

[2017-08-30 09:35] #95 closed

[2017-08-30 09:36] chuanhiang commented on #54
Working now.
![image](https://user-images.githubusercontent.com/9443519/29866042-bcf6f6ee-8da9-11e7-8c61-d535a6710a7e.png)

[2017-08-30 09:36] #54 closed

[2017-08-30 09:39] Ponpimonk commented on #93
OK.
No area or unit type when configuring. But the report they are there.

[2017-08-30 09:43] #93 closed

[2017-08-30 09:44] chuanhiang commented on #74
@Ponpimonk

If you click the link again, you can see the results. Please remember to sync product if you make changes in the backend.

Thanks.

![image](https://user-images.githubusercontent.com/9443519/29866374-cc4e6676-8daa-11e7-9c05-27a7067a5d86.png)

[2017-08-30 09:56] Ponpimonk commented on #94
@chuanhiang @purnomoeko @benjaminl83

Web App --> The booked unit should show net unit + furniture price.
But instead it is showing "Title Deed Price"

https://rl--full.cs31.my.salesforce.com/01t900000008mcT

![image](https://user-images.githubusercontent.com/30112738/29866926-24b2b95e-8da4-11e7-9113-0fe345a8c558.png)

[2017-08-30 09:57] Ponpimonk commented on #92
OK

[2017-08-30 09:57] #92 closed

[2017-08-30 09:58] Ponpimonk commented on #91
Ok

[2017-08-30 09:58] #91 closed

[2017-08-30 09:59] Ponpimonk commented on #86
OK

![image](https://user-images.githubusercontent.com/30112738/29867071-a1a5e602-8da4-11e7-9657-bbc9660086a2.png)

[2017-08-30 09:59] #86 closed

[2017-08-30 10:00] Ponpimonk commented on #85
OK

[2017-08-30 10:00] #85 closed

[2017-08-30 10:00] Ponpimonk commented on #89
OK

[2017-08-30 10:00] #89 closed

[2017-08-30 10:02] Ponpimonk commented on #74
Ok
![image](https://user-images.githubusercontent.com/30112738/29867185-ee4a29c8-8da4-11e7-8164-cc8fa56aae56.png)

[2017-08-30 10:02] #74 closed

[2017-08-30 10:03] Ponpimonk commented on #87
OK

![image](https://user-images.githubusercontent.com/30112738/29867236-12c2b586-8da5-11e7-865e-f0f4d26e7e1d.png)

[2017-08-30 10:03] #87 closed

[2017-08-30 10:03] Ponpimonk commented on #83
OK

[2017-08-30 10:03] #83 closed

[2017-08-30 10:06] Ponpimonk commented on #82
OK
![image](https://user-images.githubusercontent.com/30112738/29867370-8b4e2b16-8da5-11e7-8048-85e4369c57aa.png)

[2017-08-30 10:06] #82 closed

[2017-08-30 10:08] Ponpimonk commented on #81
OK

[2017-08-30 10:08] #81 closed

[2017-08-30 10:10] Ponpimonk commented on #79
OK

[2017-08-30 10:10] #79 closed

[2017-08-30 10:11] Ponpimonk commented on #69
OK

[2017-08-30 10:11] #69 closed

[2017-08-30 10:16] Ponpimonk opened #96 "No profile type display"
![image](https://user-images.githubusercontent.com/30112738/29867806-f118c0ea-8da6-11e7-98fe-56c6e0e2b0ed.png)

[2017-08-30 10:25] Ponpimonk opened #97 "User Access - What will the user be able to edit if "EDIT" access is given?"
@benjaminl83 @purnomoeko
![image](https://user-images.githubusercontent.com/30112738/29868182-2e5685ae-8da8-11e7-81c1-10aeb07db3f2.png)

[2017-08-30 11:44] chuanhiang commented on #97
@Ponpimonk

With reference to the BPR slide 13 we originally wanted to control who can see which field in the interface and allowed up to 6 fields to be controlled. However, the way the system turned out, it seemed that we are not using this function to control but the login profile will decide on the page layout instead.

Please let me know what are your thoughts and we can revisit it again if re

[2017-08-30 11:46] benjaminl83 commented on #26
Confirmed in this record https://rl--full.cs31.my.salesforce.com/006p0000004ljut
TUR-30381 auto changed t revisit upon updating status to "Show (Full Tour)"
![image](https://user-images.githubusercontent.com/18274902/29870800-e4c1ca70-8dbb-11e7-93ea-b261850a5987.png)

[2017-08-30 11:46] #26 closed

[2017-08-30 11:48] chuanhiang commented on #96
@purnomoeko

We need to show the profile created for the user in the profile page.

Thanks.

[2017-08-31 04:47] VeenaKurady commented on #21
Earlier We developed send email to project instead of Opportunity so had disabled that

[2017-08-31 04:47] #21 closed

[2017-08-31 06:58] Ponpimonk commented on #94
OK
![image](https://user-images.githubusercontent.com/30112738/29910486-5c700f4e-8e54-11e7-9ce4-8dae534a229d.png)

![image](https://user-images.githubusercontent.com/30112738/29910513-709450b6-8e54-11e7-8e50-ebd997a26c34.png)

[2017-08-31 06:58] #94 closed

[2017-08-31 07:01] Ponpimonk commented on #97
@chuanhiang Understand. Since the information from Title Deed Area, Title Deed Price, Room type, etc are being pulled from SF, so not sure what this "Edit" access is for? User cannot edit the information directly from Web App or Mobile anyway.

[2017-08-31 09:23] Ponpimonk opened #98 "Query - Filtering by Transfer Date"
https://github.com/Interaktivtechnology/Raimon-Web

How do we filter by transfer date?

@benjaminl83 @purnomoeko @chuanhiang

[2017-09-04 02:18] purnomoeko commented on #98
@Ponpimonk this issue has been solved please check

[2017-09-04 03:59] Ponpimonk commented on #98
@purnomoeko @benjaminl83 US-503 transfer date = 14 July 2016. However this color mapping does not show in the query. Pls check.

https://raimon-land-sales-matrix.firebaseapp.com/query/edit/-KsHKKChvcYJn_pA9ibI/-KscbjpfmV_cIbjAbvk1

![image](https://user-images.githubusercontent.com/30112738/30011273-2874112c-9160-11e7-8a4c-180157a92fd2.png)

![image](https://user-images.githubusercontent.com/30112

[2017-09-04 04:08] purnomoeko commented on #98
Hi @Ponpimonk,

We got it right, maybe you need to refresh the page.

![screen shot 2017-09-04 at 11 05 45 am](https://user-images.githubusercontent.com/3125614/30011389-30144efa-9161-11e7-9950-1a204a45f01e.png)

[2017-09-04 04:09] Ponpimonk opened #99 "User Managmeent - Unable to reset the PWD from Firebase"
![image](https://user-images.githubusercontent.com/30112738/30011433-70954e5c-9161-11e7-8563-08c8c8b0dd42.png)

[2017-09-04 08:34] Ponpimonk commented on #98
Hi. I tried again and now it is hi-lighting the other unit.
![image](https://user-images.githubusercontent.com/30112738/30018287-826de68c-9186-11e7-893f-efcab0abea98.png)

[2017-09-04 08:36] Ponpimonk commented on #98
https://rl--full.cs31.my.salesforce.com/01t90000000lamMAAQ

[2017-09-04 09:01] Ponpimonk opened #100 "Newly attached units are not updated in the query"
@chuanhiang @purnomoeko @benjaminl83

I have recently attached new units (US-1513, US-1512, US-1511 and more per below). None are showing the query which was previously built.

Project : Unixx
Building: Sales Test
Building Layout:
https://raimon-land-sales-matrix.firebaseapp.com/building/edit/-KsHxZsBp6aBXlIzarqh

Query: https://raimon-land-sales-matrix.firebaseapp.com/query/edit/-KsHKKChvcYJn_pA9

[2017-09-04 09:03] Ponpimonk commented on #100
NEvermind, my mistake

[2017-09-04 09:03] #100 closed

[2017-09-04 12:00] Ponpimonk opened #101 "Query Calendar - Need help to adjust"
@purnomoeko @chuanhiang @benjaminl83

Need help to adjust the frame so I can click and go to the right hand side months.

![image](https://user-images.githubusercontent.com/30112738/30025561-45d3fa32-91a3-11e7-9e44-ddc18521a570.png)

[2017-09-04 12:31] Ponpimonk commented on #98
Ok it works

[2017-09-04 12:31] #98 closed

[2017-09-04 13:06] chuanhiang commented on #99
@Ponpimonk

Sorry, I can reset the password with no problem and there is no stop button when resetting password unless you use the browser button. Using the browser stop button is not an orthodox way of using the app and should not be allowed like using the back button for internet banking.

Please take note that if you changed the password successfully and try to change it again without logging o